CREATE TABLE {{ table_name | lower }} (
    id INT PRIMARY KEY,
    "gameId" INT,
    "playerId" INT,
    "teamId" INT,
    "minutesPlayed" INT,
    "fieldGoalsMade" INT,
    "fieldGoalsAttempted" INT,
    "fieldGoalPercentage" FLOAT,
    "fieldGoalPerformance" VARCHAR(10),
    "threePointsFieldGoalsMade" INT,
    "threePointsFieldGoalsAttempted" INT,
    "threePointsFieldGoalPercentage" FLOAT,
    "threePointsFieldGoalPerformance" VARCHAR(10),
    "freeThrowsMade" INT,
    "freeThrowsAttempted" INT,
    "freeThrowsPercentage" FLOAT,
    "freeThrowsPerformance" VARCHAR(10),
    "offensiveRebounds" INT,
    "defensiveRebounds" INT,
    rebounds INT,
    assists INT,
    steals INT,
    blocks INT,
    "personalFouls" INT,
    points INT
);
